body {

    background-color:aqua; 
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
  }
.Add1{
  margin-left: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
